body{
	background-color: lightgray;
	font-family: Arial, sans-serif;

}


#navbar1{
	background-color: white;
	min-height: 50px; 
	font-size: 18px;
	padding: auto;
}


#titulo{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
}

#container_body{
	text-align: justify;
	font-weight: bold;
	font-size: x-large;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	background-color: white;
	text-align: center;
	border: 2px solid #cc9900;
}

#horario{
	margin: auto;
	text-align: center;
	font-color: #42532f;
	padding: auto;
}


.table thead tr th{
 color: #42532f;
}

.table tbody tr td{
 color: #42532f;
}

#carousel_restaurante{
	width: 500px;
	height: 500px;
}

#restaurante_container{
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	border: 2px solid #cc9900;
	height: 100%;
	width: 100%;
}

#carousel_restaurante{
	text-align: center;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carousel_terraza{
	text-align: center;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boton_especialidades{
	text-align: center;
}

#fotos_carta{
	text-align: center;
	border: 2px solid #cc9900;
	height: 100%;
	width: 100%;
}

#ancla1{
	color: white;
}

#ancla2{
	color: white;
}

#ancla3{
	color: white;
}

#ancla4{
	color: white;
}

#container_donde{
	margin: 0px auto;
	background-color: white;
	border: 2px solid #cc9900;
}

#container_conocer{
	margin: 0px auto;
	background-color: white;
	border: 2px solid #cc9900;
	}

#iframe1{
	align-items: center;
}

#card1{
	text-align: center;
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#log{
	text-align: center;
	margin: 0px auto;
	background-color: white;
	border: 2px solid #cc9900;
}

#footer {
  font-size: small;
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cc9900;
  color: black;
  text-align: center;
}
