@import "custom";
@import "~bootstrap/scss/bootstrap";

.contenido{
    max-width: 1100px;
}
header{
    background-image: url('imagenes/fondo1.jpg');
    background-size: cover;
    height: 1000px;
}

h2{
    color: rgb(168, 230, 227);
}
h3{
    color: wheat;
}

.seccion-post{
    background-color: rgb(151, 131, 95);
    
}


article{
	background: #fffbcc;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 15px;
}
/*article*/
article footer{
	text-align: right;
}


.carousel{
    interval: 20;
  }
